<script setup>
import { onMounted, ref } from 'vue'

// 组件的名字是必须的，用于组件注册
defineOptions({
  name: '{{properCase name}}',
})
</script>

<template>
  <div>{{properCase name}}</div>
</template>

<style lang="less" scoped></style>
